@charset "utf-8";


/*######################################*/
/*            Main Styles               */
/*######################################*/

main{
    background: rgb(0, 90, 167);
}


/*######################################*/
/*            Header Styles             */
/*######################################*/


h1.pageHeader{
    overflow: hidden;
}

h1.subHeader{
    width: 90%;
    height: 100px;
    text-align: center;
    margin: 30px 10%;
    background: rgb(0, 176, 105);
    color: white;
    line-height: 100px;
    -webkit-box-shadow: -20px 30px 40px -30px black;
    box-shadow: -20px 30px 40px -30px black;
    font-size: 200%;
    margin: auto;
    overflow: hidden;
    }

/*######################################*/
/*            Section Styles             */
/*######################################*/


section.sampleSection{
    color: white;
    background: -webkit-gradient(linear, left top, right top, from(rgb(0, 176, 105)), to(black));
    background: linear-gradient(to right, rgb(0, 176, 105), black);
    width: 90%;
    margin: 60px auto;
    border: 3px solid gray;
    border-radius: 20px;
    -webkit-box-shadow: inset 2px 2px 30px 1px #000000;
    box-shadow: inset 2px 2px 30px 1px #000000;
}

section.sampleSection img{
    width: 100%;
    height: auto;
    margin: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

section.sampleSection figcaption{
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
}

/*######################################*/
/*            Media Queries             */
/*######################################*/


@media only screen and (max-width: 480px){
    
    h1.pageHeader{
        font-size: 10vw;
    }
    
    h1.subHeader{
        font-size: 6vw;
    }
}

@media only screen and (min-width: 481px){
    main h1.pageHeader{
        background: rgb(0, 90, 167);
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}











